@mixin flex($flex-j, $flex-a, $flex-d) {
  display: flex;
  justify-content: $flex-j;
  align-items: $flex-a;
  flex-direction: $flex-d;
}

@mixin box($box-w, $box-h,$box-c, $box-r, $box-f) {
  width: $box-w;
  height: $box-h;
  background-color: $box-c;
  border-radius: $box-r;
  backdrop-filter: $box-f;
}

*{margin: 0; padding: 0;}

#baner {
  @include box (100vw, 25vh, gray, none, none);
  margin-top: 5vh;
}

main {
  width: 100vw;
  height: 100vh;
  // border: 1px solid red;

  @include flex(center, center, column);
  
  &> section{
    width: 80vw;
    height: 90vh;
    
    @include flex(start, center, column);
    &> div:nth-child(1){
      @include flex(center, center, none);
    }
  }
}

.box-row-1 {
  width: 20vw;
  height: 1vh;
  background-color: white;
  position: absolute;
}

.box-row-2 {
  width: 20vw;
  height: 1vh;
  background-color: white;
  position: absolute;
  transform: rotate(90deg);

}


.box-pro {
  @include box(50vw, 50vw, gray, 30vw, none);
  margin-top: 8vh;
  margin-bottom: 2vh;
}

.text-pro {
  font-size: 90%;
  color: gray;

  //여기에 클릭하라는 듯 글자가 커졌다가 작아졌다하는 액션 위의 원형도 같이 하면 재밌을 것 같음.
  //4/26 배운걸 사용하면 가능할것.
}