* {
  padding: 0;
  margin: 0;
}

@mixin flex($flex-j, $flex-a, $flex-d) {
  display: flex;
  justify-content: $flex-j;
  align-items: $flex-a;
  flex-direction: $flex-d;
}

#root{
  width: 100vw;
  height: 100vh;
  @include flex(center, center,none);
  
  &>section {
    width: 22vw;
    height: 60vh;
    @include flex(center, center,column);
    
    position: absolute;
  }
  
  &>section:nth-child(1){
    z-index: 2;
    top:15vh;
    left: 28vw;
    
    &>div:nth-child(1){
      width: inherit;
      height: 30vh;
      border: 2px solid #333;
      background-color: rgb(223, 76, 223);
      @include flex(start, center, none);
    }
    
    
    &>div:nth-child(3){
      width: inherit;
      height: 30vh;
      border: 2px solid rgb(90, 29, 29);
      background-color: rgb(72, 180, 105);
      @include flex( center, center, none);
    }
  }
  
  &>section:nth-child(2){
    background-color: #dbdbdb;
    z-index: 1;
    left: 45vw;
    
    filter: blur(1px);

    &>div {
      width: 20vw;
      color: rgb(146, 146, 146);
    }
    
    &>div:nth-child(1){
      font-size: 400%;
      letter-spacing: 0.1vw;
      margin-bottom: 2vw;
      margin-top: 2vw;
    }
    
    &>div:nth-child(2){
      font-size: 90%;
      text-align: end;
      margin-bottom: 2vw;
    }
  }
}

.min-text {
  font-size:75%;
  text-align: justify;
  margin-bottom: 3vw;
}

.button{
  width: 10vw;
  height: 1.4vh;
  border: 2px solid rgb(90, 29, 29);
  background-color: rgb(240, 240, 102);
  border-radius: 1.5vw;
  
  color: rgb(70, 153, 14);
  font-size: 130%;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  padding-bottom: 1.4vw;
  
  position: absolute;
  z-index: 3;
  left: 10vw;
}
.title{
  color: #fff;
  font-style: italic;
  font-size: 250%;
  font-weight: 600;
  text-decoration: underline rgb(172, 43, 172);
  text-decoration-thickness: 2px;

  margin: 1vw;
}

.sub-text{
  font-size: 65%;
  text-align: justify;

  margin: 1vw;
  color: #333;
}

